{{!-- {{#if posts.length}}
<div>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{!-- {{}} --}}
    {{!-- {{/each}}

</div>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>

<script src="/js/add-post.js"></script>  --}}


<div class="row">
    <div class="col-auto">
        {{#if loggedIn}}
        <h2>Welcome, {{user.username}}!</h2>
        {{/if}}
    </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
    {{#each posts as |post|}}
    {{>edit post}}
    {{/each}}
</div>
{{/if}}