<section class="posts d-flex flex-column gap-2">

	<div class="posts-header d-flex">

		<h2 class="flex-none d-inline">Posts</h2>
		<span class="m-auto"></span>
		<button class="btn btn-outline-primary">
		<a href="/post">new post</a>
		</button>
	</div>

	{{#each posts as |post|}}
		{{> posts}}
	{{/each}}

</section>